{% extends "base.html" %}

{% block title %}About OldMail - Group Email Archive Sharing (Djangodash 2012){% endblock %}

{% block body %}
<div class="span12">
    <h1>About OldMail</h2>
    <p>OldMail archives your email from a special folder (or label in Gmail). When you label something with the label <strong>@oldmail</strong>, those emails are regularly collected to be shared with your team.</p>
    <p>This is our solution to replacing the Public Folders we used to have in MS Exchange.</p>
    <p>This project was created by <a href="https://github.com/eloyz">Eloy</a>, <a href="https://github.com/jennyq">Jenny</a>, and <a href="https://github.com/jmoswalt">JMO</a> for the <a href="http://djangodash.com/">2012 Djangodash</a>. We work together for <a href="http://schipul.com/">Schipul</a>. We build <a href="http://tendenci.com/">Tendenci</a>, an open source CMS for non-profits built on Django.</p>
    {% if not request.user.is_authenticated %}
    <p><a href="{% url signup %}">Signup today</a> and see how OldMail help help you share email.</p>
    {% endif %}
</div>
{% endblock body %}