    <h2>{{ account.name }}</h2>
    <div>
        <h4>Account members</h4>
        <ul>
        {% for profile in account.profiles %}
            <li><a href="{% url profile_change user.profile.account.slug profile.pk %}">{{ profile.user.get_full_name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div>
        <h4>Clients</h4>
        <ul>
        {% for client in account.clients %}
            <li><a href="{% url client_change user.profile.account.slug client.pk %}">{{ client.name }}</a></li>
        {% endfor %}
        </ul>
    </div>