    <div>
        <h4>Account members</h4>
        <table class="table table-condensed">
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Sync?</th>
            </tr>

        {% for profile in request.user.profile.account.profiles %}
            <tr>
                {% if request.user.profile == profile %}
                    <td><a href="{% url profile_change user.profile.account.slug profile.user.pk %}">{{ profile.user.get_full_name }}</a></td>
                {% else %}
                    <td>{{ profile.user.get_full_name }}</td>
                {% endif %}
                <td>{{ profile.user.email }}</td>
                <td>{% if profile.oauth_token %}<i class="icon-ok"></i>{% else %}
                    <i class="icon-remove"></i>{% endif %}</td>
            </tr>
        {% endfor %}
        </table>
        {% if request.user.profile.oauth_token %}
        <p><a class="btn btn-primary" href="{% url get_mail account.slug %}">Refresh my mail</a></p>
        {% else %}
        <p><a class="btn btn-success" href="{% url oauth_connect request.user.profile.account.slug %}">Setup mail sync</a></p>
        {% endif %}
    </div>
    {% if request.user.profile.is_account_admin %}
    <div>
        <h4>Admin</h4>
        <ul>
            <li><a href="{% url account_invite user.profile.account.slug %}">Invite more people</a></li>
            <li><a href="{% url account_change account.slug %}">Change Account Name</a></li>
        </ul>
    </div>
    {% endif %}