{% extends "base.html" %}
{% load oldmail_tags %}

{% block title %}Create a new account{% endblock title %}

{% block body %}
    <div class="span5 offset3 well">
        <h3>Signup for an account</h3>
        <form class="form-horizontal" action="" method="POST">{% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-actions">
                <button type="submit" class="btn btn-success">Create an Account</button>
            </div>
        </form>
    </div>
{% endblock body %}