{% extends "base.html" %}
{% load oldmail_tags %}

{% block title %}Add a client{% endblock title %}

{% block body %}
<div class="row">
    <div class="span5 offset4">
        <h2>Add a Client</h2>
        <form class="form-horizontal" action="" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-actions">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock body %}