{% extends "base.html" %}
{% load oldmail_tags %}

{% block title %}Client Edit Form{% endblock title %}

{% block body %}
    <div class="span5 offset3 well">
        <h2>{% if client %}Update Client {% else %}Add a Client{% endif %}</h2>
        <form class="form-horizontal" action="" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-actions">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
{% endblock body %}