{% extends "base.html" %}

{% block title %}OldMail Client detail{% endblock title %}

{% block body %}
<div class="span12">
    <h1>{{ object }}</h1>
</div>

<div class="span2">

    {% if object.contacts %}
    <h2>Contacts</h2>
    {% for contact in object.contacts %}
        <div><a href="{% url contact_change user.profile.account.slug contact.pk %}">{{ contact }}</a></div>
    {% endfor %}
    {% endif %}

</div>

<div class="span8">
    {% for message in object.messages %}
        <div><a href="{{ message.get_absolute_url }}">{{ message }}</a></div>
    {% endfor %}
</div>

{% endblock body %}