{% extends "base.html" %}
{% load oldmail_tags %}

{% block title %}Contact form{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/chosen.css"/>
{% endblock css %}

{% block body %}
    <div class="span5 offset3 well">
        <h2>{% if contact %}Update Contact {% else %}Add a Contact{% endif %}</h2>
        <form class="form-horizontal" action="" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-actions">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
        <span id="new-client"><a href="{% url client_add request.user.profile.account.slug %}?next={{ request.path }}">Add a new Client first?</a></span>
    </div>
{% endblock body %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() { 
    $("#id_client").addClass('chzn-select');
    $(".chzn-select").chosen();
    $("#new-client").hide();
    var client_field = $('#id_client');
    if (client_field.is('*')) {
        console.log(client_field);
        $('.control-group:first .help-inline').html($("#new-client").html());
    }
});
</script>
{% endblock js %}