<div class="span12">
    <ul class="breadcrumb center">

        {% if user.is_authenticated %}
            {% if request.user.profile.oauth_token %}
            <li><a class="btn btn-primary btn-small" href="{% url get_mail user.profile.account.slug %}">Refresh my mail</a></li>
            {% else %}
            <li><a class="btn btn-success" href="{% url oauth_connect user.profile.account.slug %}">Setup mail sync</a></li>
            {% endif %}
        {% endif %}
        <li class="pull-right"><a href="{% url about %}">About</a></li>
    </ul>
</div>