<div class="span12">
<ul class="breadcrumb center">
  <li><a href="#">Footer</a>

  {% if edit_link %}
    <span class="divider">|</span></li>
    <li><a href="{{ edit_link }}">Edit</a></li>
  {% endif %}

  {% if user.is_authenticated and user.profile.account %}
  <li class="pull-right"><a href="{% url profile_change user.profile.account user.pk %}">{{ request.user.username }}</a></li>
  {% endif %}
  <li class="pull-right"><a href="#">Copyright stuff</a> <span class="divider">|</span> </li>

</ul>
</div>