{% extends "base.html" %}

{% block title %}Setup OldMail Sync{% endblock title %}

{% block body %}
<div class="span5 offset3 well">
    <h1>Set Up and Authorize</h1>
    <ol>
        <li>Create a label "{{ folder_name }}" in your gmail account <strong>{{ email_address }}</strong>.</li>
        <li>Click the link below to approve access to your "{{ folder_name}}".</li>
    </ol>
    <p style="text-align: center;">
    <a href="{{ token_url }}" class="btn btn-success">Authorize</a></p>
</div>
{% endblock body %}